# Exclude development and unnecessary files
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
Dockerfile
.dockerignore

# Exclude TypeScript source files

# *.ts

# Exclude development files and directories

# *.log
# *.lock
# *.swp
# *.out
# *.pid
# *.dump
# *.idea/
# .vscode/
